* {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid black;
    width: 50vw;
    height: 80vh;
}

.header {
    height: 20%;
    border-bottom: 1px solid black;
}

.nav {
    background-color: yellow;
    height: 10%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    height: 60%;
}

.menu {
    height: 100%;
    width: 20%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.another-box {
    height: 100%;
    margin-left: 5px;
    width: 79%;
    border-bottom: 1px solid black;
    border-left: 1px solid rgb(0, 0, 0);
}

.middle-size {
    height: 20%;
    border-bottom: 1px solid black;
}

.big-size {
    height: 70%;
}

.small-size {
    height: 10%;
    border-top: 1px solid black;
}

.footer {
    height: 10%;
    border-top: 1px solid black;
}
